"appbuild"
{
	"appid"	"@APPID@"
	"desc"	"Bird Pizza @TAG@"
	"buildoutput"	"@ROOT@/output/"
	"contentroot"	"@ROOT@/content/"
	"setlive"	"@LIVE@"
	"preview"	"@PREVIEW@"
	"depots"
	{
		"@DEPOT_WIN@"	"@ROOT@/depot_win.vdf"
		"@DEPOT_LINUX@"	"@ROOT@/depot_linux.vdf"
	}
}
