"DepotBuild"
{
	"DepotID"	"@DEPOT@"
	"contentroot"	"@ROOT@/content/@OS@/"
	"FileMapping"
	{
		"LocalPath"	"*"
		"DepotPath"	"."
		"recursive"	"1"
	}
	"FileExclusion"	"steam_appid.txt"
	"FileExclusion"	".github-install"
}
